In [86]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [87]:
df=pd.read_csv("/content/drive/MyDrive/ML/multivariable linear regression/insurance.csv - insurance.csv (1).csv")

In [88]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [89]:
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [90]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [91]:
from sklearn.preprocessing import LabelEncoder
from pandas.core.dtypes.common import is_numeric_dtype
le = LabelEncoder()

In [92]:
for col in df.columns :
   if is_numeric_dtype(df[col]):
       continue

   df[col]=le.fit_transform(df[col])

In [93]:

x=df.drop(['charges'],axis=1)
y=df['charges']

In [94]:
from sklearn.model_selection import train_test_split

In [95]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.30)

In [96]:
from sklearn.linear_model import LinearRegression

In [97]:
reg=LinearRegression()

In [98]:
reg.fit(xtrain,ytrain)

LinearRegression()

In [99]:
reg.score(xtest,ytest)

0.7411866422602964